.dgrid.gap-2.col-9.mx-auto
  %button.btn.btn-primary.my-2{ type: 'button', onclick: "location.href='#{new_ranking_path}'" }
    + 新しいIRを作成する

.container
  .table-responsive
    %table.table
      %thead
        %tr
          %th IR名
          %th 開催日時
          %th 編集
          %th 削除

      %tbody
        - @rankings.each do |ranking|
          %tr
            %td= link_to ranking.name, ranking_path(ranking)
            %td= ranking.created_at.strftime('%Y/%m/%d %H:%M')
            %td= link_to '編集', edit_ranking_path(ranking)
            %td= link_to '削除', ranking_path(ranking)
