.dgrid.gap-2.col-9.mx-auto
  = link_to '+ 新しいIRを作成する', new_ranking_path, class: "btn btn-primary my-2#{' disabled' unless user_signed_in?}"

.container
  .table-responsive
    %table.table
      %thead
        %tr
          %th IR名
          %th 開催日時
          %th 編集
          %th 削除

      %tbody
        - @rankings.each do |ranking|
          %tr
            %td= link_to ranking.title, ranking_songs_path(ranking)
            %td= ranking.formatted_date
            - if ranking.made_by?(current_user)
              %td= link_to '編集', edit_ranking_path(ranking)
              %td= link_to '削除', ranking_path(ranking), data: { turbo_method: :delete, turbo_confirm: "#{ranking.title}を本当に削除しますか？" }
            - else
              %td
              %td
