%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .form-floating
    = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', required: true, id: 'name', maxlength: 30
    %label{ for: 'name' } ID (30文字以内で入力してください。)
  .form-floating
    = f.password_field :password, autocomplete: "current-password", class: 'form-control', required: true, id: 'password', maxlength: 128
    %label{ for: 'password' } パスワード (8文字以上128文字以下で、英字の大文字小文字、数字、記号をいずれも含む必要があります。)
  .form-floating
    = f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-control', required: true, id: 'password-confirmation', maxlength: 128
    %label{ for: 'password-confirmation' } パスワードの確認
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
