.d-grid.justify-content-md-start.col-9.mx-auto.my-2
  %nav{ aria: { label: 'breadcrumb' } }
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'ランキング一覧', rankings_path
      %li.breadcrumb-item.active{ aria: { current: 'page' } }
        = @ranking.title

.text-center.my-2
  %h1= @ranking.title
  %h4 開始日時: #{@ranking.start_date.strftime('%Y/%m/%d %H:%M')}
  %h4 終了日時: #{@ranking.end_date.strftime('%Y/%m/%d %H:%M')}

  - if @ranking.detail.present?
    %p= @ranking.detail


- if !@ranking.active?
  %h4.text-center
    #{@ranking.title} は終了しました。

- can_add_song = current_user&.can_edit_song?(@ranking)

.dgrid.gap-2.col-9.mx-auto
  %button.btn.btn-primary.my-2{ type: 'button', onclick: "location.href='#{new_ranking_song_path(@ranking)}'", class: ('disabled' if !can_add_song) }
    + 新しい曲を追加する

.container
  .table-responsive
    %table.table
      %thead
        %tr
          %th 機種名
          %th 曲名
          %th 編集
          %th 削除

      %tbody
        - @songs.each do |song|
          %tr
            %td= song.model
            %td= link_to song.title, ranking_song_submissions_path(@ranking, song)
            - if song.added_by?(current_user)
              %td= link_to '編集', edit_ranking_song_path(@ranking, song)
              %td= link_to '削除', ranking_song_path(@ranking, song), data: { turbo_method: :delete, turbo_confirm: "#{song.title}を本当に削除しますか？" }
            - else
              %td
              %td
